# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: SL.se API
  description: Stockholms Lokaltrafik
  version: "2.0.0"
# the domain of the service
host: api.sl.se
# array of all schemes that your API supports
schemes:
  - https
  - http
# will be prefixed to all paths
basePath: /api2
produces:
  - application/json
paths:
  /LineData.json?model=site:
    get:
      summary: Hallplatser och Linjer 2 - Site
      description: |
        För att kunna beskriva trafikinformation på ett konsekvent sätt, är det nödvändigt att ingående begrepp och definitioner är klara och tydliga. De viktigaste begreppen för denna tjänst presenteras nedan.
      parameters:
        - name: key
          in: query
          description: Din API nyckel.
          required: true
          type: string
      tags:
        - Hållplatser och Linjer
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/HallplatserOchLinjerSiteResponse'
  /LineData.json?model=stop:
    get:
      summary: Hallplatser och Linjer 2 - Stop Point
      description: |
        För att kunna beskriva trafikinformation på ett konsekvent sätt, är det nödvändigt att ingående begrepp och definitioner är klara och tydliga. De viktigaste begreppen för denna tjänst presenteras nedan.
      parameters:
        - name: key
          in: query
          description: Din API nyckel.
          required: true
          type: string
      tags:
        - Hållplatser och Linjer
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/HallplatserOchLinjerStopPointResponse'
  /LineData.json?model=line:
    get:
      summary: Hallplatser och Linjer 2 - Line
      description: |
        För att kunna beskriva trafikinformation på ett konsekvent sätt, är det nödvändigt att ingående begrepp och definitioner är klara och tydliga. De viktigaste begreppen för denna tjänst presenteras nedan.
      parameters:
        - name: key
          in: query
          description: Din API nyckel.
          required: true
          type: string
      tags:
        - Hållplatser och Linjer
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/HallplatserOchLinjerLineResponse'
  /LineData.json?model=jour:
    get:
      summary: Hallplatser och Linjer 2 - Journey Pattern Point On Line
      description: |
        För att kunna beskriva trafikinformation på ett konsekvent sätt, är det nödvändigt att ingående begrepp och definitioner är klara och tydliga. De viktigaste begreppen för denna tjänst presenteras nedan.
      parameters:
        - name: key
          in: query
          description: Din API nyckel.
          required: true
          type: string
      tags:
        - Hållplatser och Linjer
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/HallplatserOchLinjerJourneyPatternPointOnLineResponse'
  /LineData.json?model=tran:
    get:
      summary: Hallplatser och Linjer 2 - Transport Mode
      description: |
        För att kunna beskriva trafikinformation på ett konsekvent sätt, är det nödvändigt att ingående begrepp och definitioner är klara och tydliga. De viktigaste begreppen för denna tjänst presenteras nedan.
      parameters:
        - name: key
          in: query
          description: Din API nyckel.
          required: true
          type: string
      tags:
        - Hållplatser och Linjer
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/HallplatserOchLinjerTransportModeResponse'
  /nearbystops.json:
    get:
      summary: Narliggande hallplatser
      description: Närliggande hållplatser
      parameters:
        - name: key
          in: query
          description: Din API nyckel.
          required: true
          type: string
        - name: originCoordLat
          in: query
          description: Lat (WGS, decimal degree), ex 59.293611
          required: true
          type: string
        - name: originCoordLong
          in: query
          description: Long (WGS, decimal degree), ex 18.083056
          required: true
          type: string
        - name: maxResults
          in: query
          description: Maximalt antal resultat som önskas. 9 är default, max är 1000.
          default: 9
          type: integer
          format: int32
        - name: radius
          in: query
          description: Radie i meter för det cirkulära området kring koordinaten som närliggande hållplatser skall hämtas ut för. 1000 m är defaultvärde, max är 2000 m.
          default: 1000
          type: integer
          format: int32
        - name: lang
          in: query
          description: Språk (sv/en), default sv. Påverkar språket i felmeddelanden.
          type: string
          default: sv
          enum:
          - sv
          - en
      tags:
        - Närliggande hållplatser
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/NarliggandeHallplatserResponse'
  /typeahead.json:
    get:
      summary: Platsuppslag
      description: |
        Med detta API kan du få information om en plats genom att skicka in delar av platsens namn. Du kan välja mellan att bara söka efter hållplatsområden eller hållplatser, adresser och platser.
      parameters:
        - name: key
          in: query
          description: Din API nyckel.
          required: true
          type: string
        - name: searchString
          in: query
          description: Söksträngen.
          required: true
          type: string
        - name: stationsOnly
          in: query
          description: Om ”True” returneras endast hållplatser. True = default.
          required: false
          default: true
          type: boolean
        - name: maxResults
          in: query
          description: Maximalt antal resultat som önskas. 10 är default, det går inte att få mer än 50.
          required: false
          default: 10
          type: integer
          format: int32
      tags:
        - Platsuppslag
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/PlatsuppslagResponse'
  /realtimedeparturesV4.json:
    get:
      summary: Realtidsinformation 4
      description: |
        Realtidsinformation gällande buss, tunnelbana, pendeltåg och lokalbana. Detta API innehåller liknande information som SL Realtidsinformation 3.
        
        Vissa ändringar har gjorts i svarsstrukturen för att få den mer enhetlig mellan tunnelbaneavgångar och övriga trafikslag, samt att man har påbörjat hämtning av all tunnelbaneinformation från samma källa som övriga trafikslagsavgångar. Detta medför att man kommer att kunna få ut lika mycket information om en tunnelbaneavgång som för övriga.
        
        Övergången till den nya trafikkällan för tunnelbaneavgångar sker i flera steg. De gröna och blå tunnelbanelinjerna har övergått till att hämta data på samma sätt som för övriga trafikslag. Röd linje återstår och det finns ännu ingen färdig tidplan för när övergången sker, men i dagsläget är en rimlig gissning att det kan ske under 2017.
        
        I dokumentationen nedan kommer svarselement som gäller för tunnelbana före övergång till nytt informationssystem noteras med Tunnelbana före övergång.
      parameters:
        - name: key
          in: query
          description: En giltig API-nyckel.
          required: true
          type: string
        - name: siteId
          in: query
          description: Unikt identifikationsnummer för den plats som aktuella avgångar skall hämtas för, t.ex. 9192 för Slussen. Detta id fås från tjänsten SL Platsuppslag.
          required: true
          type: integer
          format: int32
        - name: timeWindow
          in: query
          description: Hämta avgångar inom önskat tidsfönster. Där tidsfönstret är antalet minuter från och med nu. Max 60.
          required: true
          type: integer
          format: int32
        - name: bus
          in: query
          description: Default = true. Om false, så exkluderas trafikslaget från svaret.
          required: false
          default: true
          type: boolean
        - name: metro
          in: query
          description: Default = true. Om false, så exkluderas trafikslaget från svaret.
          required: false
          default: true
          type: boolean
        - name: train
          in: query
          description: Default = true. Om false, så exkluderas trafikslaget från svaret.
          required: false
          default: true
          type: boolean
        - name: tram
          in: query
          description: Default = true. Om false, så exkluderas trafikslaget från svaret.
          required: false
          default: true
          type: boolean
        - name: ship
          in: query
          description: Default = true. Om false, så exkluderas trafikslaget från svaret.
          required: false
          default: true
          type: boolean
      tags:
        - Realtidsinformation
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/RealtidsinformationResponse'
  /deviations.json:
    get:
      summary: Storningsinformation 2
      description: |
        Med detta API kan du få fram information om aktuella och planerade störningar i SL-trafiken. Med API ‘et kan du ställa frågor om störningar på till exempel en viss linje eller ett visst trafikslag. Svaret består av störningsmeddelanden med viss metainformation.

        För att se informationen som returneras av detta API, se storningsinformation.sl.se.

        Om ingen av parametrarna ”TransportMode”, ”LineNumber” och ”SiteId” skickas med anropet skickas samtliga avvikelser tillbaks som svar.
      parameters:
        - name: key
          in: query
          description: En giltig API-nyckel.
          required: true
          type: string
        - name: transportMode
          in: query
          description: Aktuella trafikslag. Tillåtna värden är bus, metro, train, ship och tram. Kommaseparerad sträng.
          required: false
          type: string
          enum:
          - bus
          - metro
          - train
          - ship
          - tram
        - name: lineNumber
          in: query
          description: Max 10 linjer. Kommaseparerad sträng.
          required: false
          type: string
        - name: siteId
          in: query
          description: Id för sökt hållplatsområde.
          required: false
          type: integer
          format: int32
        - name: fromDate
          in: query
          description: Startdatum för aktuell giltighetsperiod.
          required: false
          type: string
          format: date
        - name: toDate
          in: query
          description: Slutdatum för aktuell giltighetsperiod.
          required: false
          type: string
          format: date
      tags:
        - Störningsinformation
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/StorningsinformationResponse'
  /deviationsrawdata.json:
    get:
      summary: Storningsinformation 2 Raw
      description: |
        Med detta API kan du få fram information om aktuella och planerade störningar i SL-trafiken. Med API ‘et kan du ställa frågor om störningar på till exempel en viss linje eller ett visst trafikslag. Svaret består av störningsmeddelanden med viss metainformation.

        För att se informationen som returneras av detta API, se storningsinformation.sl.se.

        Om ingen av parametrarna ”TransportMode”, ”LineNumber” och ”SiteId” skickas med anropet skickas samtliga avvikelser tillbaks som svar.
      parameters:
        - name: key
          in: query
          description: En giltig API-nyckel.
          required: true
          type: string
        - name: transportMode
          in: query
          description: Aktuella trafikslag. Tillåtna värden är bus, metro, train, ship och tram. Kommaseparerad sträng.
          required: false
          type: string
          enum:
          - bus
          - metro
          - train
          - ship
          - tram
        - name: lineNumber
          in: query
          description: Max 10 linjer. Kommaseparerad sträng.
          required: false
          type: string
        - name: siteId
          in: query
          description: Id för sökt hållplatsområde.
          required: false
          type: integer
          format: int32
      tags:
        - Störningsinformation
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/StorningsinformationRawResponse'
  /trafficsituation.json:
    get:
      summary: Trafiklaget 2
      description: |
        Med detta API kan du få information om den aktuella statusen för SLs trafikläge. Detta är information på en övergripande nivå om aktuell status för respektive trafikslag. Den information som ligger till grund för detta API hittar du på startsidan av sl.se under rubriken "Trafikläget kl. xx:xx".

        API ’et har endast en metod som returnerar en översiktlig bild över hur trafiksituationen ser ut just nu, med avseende på störningar som kan påverka resenärerna. Det som returneras är en lista med ett antal trafikslag, varje trafikslag har en sammanfattande status och ett antal (0 eller fler) händelser.

        Det finns 3 olika status som händelser kan ha;

        ”Inga större störningar”
        ”Stor påverkan”
        ”Avstängt”
        En händelse påverkar sitt trafikslag, så att trafikslagets sammanfattande status är lika med den sämsta statusen som finns ibland just nu aktiva händelser tillhörande trafikslaget. En händelse kan utöver statusen dessutom vara planerad (bool).
      parameters:
        - name: key
          in: query
          description: En giltig API-nyckel.
          required: true
          type: string
      tags:
        - Trafikläget
      responses:
        200:
          description: Response
          schema:
            $ref: '#/definitions/TrafiklagetResponse'
definitions:
  HallplatserOchLinjerSiteResponse:
    type: object
    properties:
      statusCode:
        type: number
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 1
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerSiteResponseData'
  HallplatserOchLinjerSiteResponseData:
    type: object
    properties:
      version:
        type: string
        format: date-time
        example: 2016-11-18 00:18
        description: Senast ändrad. Uppdateras normalt sett bara en gång per dygn
      type:
        type: string
        enum:
        - site
        - stopPoint
        - line
        - journeyPatternPointOfLine
        - transportMode
        example: site
        description: Anger typen av datamodellen som svaret innehåller; Site, StopPoint, Line, JourneyPatternPointOfLine, TransportMode
      result:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerSite'
  HallplatserOchLinjerSite:
    type: object
    properties:
      siteId:
        type: integer
        format: int32
        example: 1002
        description: Unikt identifikationsnummer för en Site
      siteName:
        type: string
        example: Centralen
        description: Benämning på området
      stopAreaNumber:
        type: integer
        format: int32
        example: 1051
        description: Unikt identifikationsnummer för hållplats
      lastModifiedUtcDateTime:
        type: string
        format: date-time
        example: 2014-06-27 14:03:39.103
        description: Senast ändrad
      existsFromDate:
        type: string
        format: date-time
        example: 2014-06-28 00:00:00.000
        description: Gäller fr.o.m. datum
  HallplatserOchLinjerStopPointResponse:
    type: object
    properties:
      statusCode:
        type: number
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 1
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerStopPointResponseData'
  HallplatserOchLinjerStopPointResponseData:
    type: object
    properties:
      version:
        type: string
        format: date-time
        example: 2016-11-18 00:18
        description: Senast ändrad. Uppdateras normalt sett bara en gång per dygn
      type:
        type: string
        enum:
        - site
        - stopPoint
        - line
        - journeyPatternPointOfLine
        - transportMode
        example: stopPoint
        description: Anger typen av datamodellen som svaret innehåller; Site, StopPoint, Line, JourneyPatternPointOfLine, TransportMode
      result:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerStopPoint'
  HallplatserOchLinjerStopPoint:
    type: object
    properties:
      stopPointNumber:
        type: integer
        format: int32
        example: 1051
        description: Unikt identifikationsnummer för stoppställe
      stopPointName:
        type: string
        example: T-Centralen
        description: Namn på stoppställe
      stopAreaNumber:
        type: integer
        format: int32
        example: 1051
        description: |
          Number för StopArea

          Ett stoppställe ingår endast i en StopArea
      LocationNorthingCoordinate:
        type: number
        format: double
        example: 59.3313179695028
        description: Koordinat i WGS84-format
      LocationEastingCoordinate:
        type: number
        format: double
        example: 18.0616773959365
        description: Koordinat i WGS84-format
      ZoneShortName:
        type: string
        example: A
        description: |
          Taxezon. A, B eller C

          Om SLs taxa inte gäller är taxezon null
      StopAreaTypeCode:
        type: string
        example: METROSTN
        enum:
        - BUSTERM
        - METROSTN
        - TRAMSTN
        - RAILWSTN
        - SHIPBER
        - FERRYBER
        description: Användning av hållplatsen. BUSSTERM, TRAMSTN, METROSTN, RAILWSTN, SHIPBER eller FERRYBER
      lastModifiedUtcDateTime:
        type: string
        format: date-time
        example: 2014-06-03 00:00:00.000
        description: Senast ändrad
      existsFromDate:
        type: string
        format: date-time
        example: 2014-06-03 00:00:00.000
        description: Gäller fr.o.m. datum
  HallplatserOchLinjerLineResponse:
    type: object
    properties:
      statusCode:
        type: number
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 1
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerLineResponseData'
  HallplatserOchLinjerLineResponseData:
    type: object
    properties:
      version:
        type: string
        format: date-time
        example: 2016-11-18 00:18
        description: Senast ändrad. Uppdateras normalt sett bara en gång per dygn
      type:
        type: string
        enum:
        - site
        - stopPoint
        - line
        - journeyPatternPointOfLine
        - transportMode
        example: line
        description: Anger typen av datamodellen som svaret innehåller; Site, StopPoint, Line, JourneyPatternPointOfLine, TransportMode
      result:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerLine'
  HallplatserOchLinjerLine:
    type: object
    properties:
      siteId:
        type: integer
        format: int32
        example: 1002
        description: Unikt identifikationsnummer för en Site
      siteName:
        type: string
        example: Centralen
        description: Benämning på området
      stopAreaNumber:
        type: integer
        format: int32
        example: 1051
        description: Unikt identifikationsnummer för hållplats
      lastModifiedUtcDateTime:
        type: string
        format: date-time
        example: 2014-06-27 14:03:39.103
        description: Senast ändrad
      existsFromDate:
        type: string
        format: date-time
        example: 2014-06-28 00:00:00.000
        description: Gäller fr.o.m. datum
  HallplatserOchLinjerJourneyPatternPointOnLineResponse:
    type: object
    properties:
      statusCode:
        type: number
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 1
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerJourneyPatternPointOnLineResponseData'
  HallplatserOchLinjerJourneyPatternPointOnLineResponseData:
    type: object
    properties:
      version:
        type: string
        format: date-time
        example: 2016-11-18 00:18
        description: Senast ändrad. Uppdateras normalt sett bara en gång per dygn
      type:
        type: string
        enum:
        - site
        - stopPoint
        - line
        - journeyPatternPointOfLine
        - transportMode
        example: journeyPatternPointOfLine
        description: Anger typen av datamodellen som svaret innehåller; Site, StopPoint, Line, JourneyPatternPointOfLine, TransportMode
      result:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerJourneyPatternPointOnLine'
  HallplatserOchLinjerJourneyPatternPointOnLine:
    type: object
    properties:
      siteId:
        type: integer
        format: int32
        example: 1002
        description: Unikt identifikationsnummer för en Site
      siteName:
        type: string
        example: Centralen
        description: Benämning på området
      stopAreaNumber:
        type: integer
        format: int32
        example: 1051
        description: Unikt identifikationsnummer för hållplats
      lastModifiedUtcDateTime:
        type: string
        format: date-time
        example: 2014-06-27 14:03:39.103
        description: Senast ändrad
      existsFromDate:
        type: string
        format: date-time
        example: 2014-06-28 00:00:00.000
        description: Gäller fr.o.m. datum
  HallplatserOchLinjerTransportModeResponse:
    type: object
    properties:
      statusCode:
        type: number
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 1
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerTransportModeResponseData'
  HallplatserOchLinjerTransportModeResponseData:
    type: object
    properties:
      version:
        type: string
        format: date-time
        example: 2016-11-18 00:18
        description: Senast ändrad. Uppdateras normalt sett bara en gång per dygn
      type:
        type: string
        enum:
        - site
        - stopPoint
        - line
        - journeyPatternPointOfLine
        - transportMode
        example: transportMode
        description: Anger typen av datamodellen som svaret innehåller; Site, StopPoint, Line, JourneyPatternPointOfLine, TransportMode
      result:
        type: array
        items:
          $ref: '#/definitions/HallplatserOchLinjerTransportMode'
  HallplatserOchLinjerTransportMode:
    type: object
    properties:
      defaultTransportModeCode:
        type: string
        example: BUS
        enum:
        - BUS
        - METRO
        - TRAM
        - TRAIN
        - SHIP
        - FERRY
        description: Unik kod för trafikslag
      defaultTransportMode:
        type: string
        example: buss
        description: Benämning på trafikslag
      stopAreaTypeCode:
        type: string
        example: BUSTERM
        enum:
        - BUSTERM
        - METROSTN
        - TRAMSTN
        - RAILWSTN
        - SHIPBER
        - FERRYBER
        description: Typkod för hållplatsen
      lastModifiedUtcDateTime:
        type: string
        format: date-time
        example: 2007-08-24 00:00:00.000
        description: Senast ändrad
      existsFromDate:
        type: string
        format: date-time
        example: 2007-08-24 00:00:00.000
        description: Gäller fr.o.m. datum
  NarliggandeHallplatserResponse:
    type: object
    properties:
      locationList:
        $ref: '#/definitions/NarliggandeHallplatserLocationList'
  NarliggandeHallplatserLocationList:
    type: object
    properties:
      noNamespaceSchemaLocation:
        type: string
        example: hafasRestLocation.xsd
        description: Attribut refererar till en XML-schema som inte har ett namespace.
      stopLocation:
        type: array
        items:
          $ref: '#/definitions/NarliggandeHallplatserStopLocation'
  NarliggandeHallplatserStopLocation:
    type: object
    properties:
      idx:
        type: integer
        format: int32
        example: 1
        description: Sorterings id. Löpnummer för sortering enligt avstånd till koordinaten. Lägst idx är närmast koordinaten.
      name:
        type: string
        example: Riddarhustorget (Stockholm)
        description: Namn för hållplats.
      id:
        type: integer
        format: int32
        example: 300101340
        description: HafasId för hållplatsen. Läs mer om HafasId i sektionen HafasId och SiteId.
      lat:
        type: number
        format: double
        example: 59.325408
        description: Lat (WGS, decimal degree), ex 59.293611
      lon:
        type: number
        format: double
        example: 18.066367
        description: Long (WGS, decimal degree), ex 18.293611
      dist:
        type: integer
        format: int32
        example: 85
        description: Distans i meter från försedd koordinat i anropet.
  PlatsuppslagResponse:
    type: object
    properties:
      statusCode:
        type: number
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 0
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/PlatsuppslagSite'
  PlatsuppslagSite:
    type: object
    properties:
      name:
        type: string
        example: Nordiska museet/Vasamuseet (Stockholm)
        description: Namnet på platsen.
      siteId:
        type: string
        example: 1408
        description: Id för hållplatsområde.
      type:
        type: string
        example: Station
        description: Typ av plats; ”Station”, ”Address” eller ”Poi” (Point of interest).
        enum:
        - Station
        - Address
        - Poi
      x:
        type: integer
        format: int32
        example: 18095492
        description: X-koordinat för placering.
      y:
        type: integer
        format: int32
        example: 59329282
        description: Y-koordinat för placering.
  RealtidsinformationResponse:
    type: object
    properties:
      statusCode:
        type: integer
        format: int32
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 49
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationResponseData'
  RealtidsinformationResponseData:
    type: object
    properties:
      latestUpdate:
        type: string
        format: date-time
        example: 2016-12-11T15:15:42
        description: Anger när realtidsinformationen (DPS) senast uppdaterades.
      dataAge:
        type: integer
        format: int32
        example: 33
        description: Antal sekunder sedan tidsstämpeln LatestUpdate.
      buses:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationDeparture'
        description: Lista över samtliga bussavgångar för givet siteId, se svarsstruktur.
      metros:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationDeparture'
        description: Lista över samtliga tunnelbaneavgångar för givet siteId, se svarsstruktur.
      trains:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationDeparture'
        description: Lista över samtliga pendeltågsavgångar för givet siteId, se svarsstruktur.
      trams:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationDeparture'
        description: Lista över samtliga lokalbaneavgångar för givet siteId, se svarsstruktur.
      ships:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationDeparture'
        description: Lista över samtliga båtavgångar för givet siteId, se svarsstruktur.
      stopPointDeviations:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationStopPointDeviation'
        description: Lista över hållplatsområdesspecifika avvikelser/störningar. D.v.s. störningar som inte är knutna till en specifik avgång.
  RealtidsinformationDeparture:
    type: object
    properties:
      transportMode:
        type: string
        enum:
        - BUS
        - METRO
        - TRAIN
        - TRAM
        - SHIP
        example: TRAM
        description: Trafikslag; ”BUS”,"METRO", ”TRAIN”, ”TRAM” eller ”SHIP”.
      lineNumber:
        type: string
        example: 7
        description: Linjebeteckning/nummer.
      destination:
        type: string
        example: Norrmalmstorg
        description: Destination
      journeyDirection:
        type: integer
        format: int32
        example: 2
        description: Reseriktnings-id. 1 eller 2.
      groupOfLine:
        type: string
        example: Spårväg City
        description: |
          För buss; Anger om det är en blå buss. Om det är en blå buss står det ”blåbuss”, annars saknas elementet(xml) eller är null(json).

          För lokalbana; Linjegrupp, t.ex. “Tvärbanan” eller “Roslagsbanan”.

          För tunnelbana; Linjegruppering. Röd/grön/blå linje.

          För båt; Anger om det är pendlarbåt eller Waxholmsbolaget.
      stopAreaName:
        type: integer
        format: int32
        example: Nordiska museet/Vasamuseet
        description: Hållplatsnamn.
      stopAreaNumber:
        type: integer
        format: int32
        example: 4311
        description: 	
          Id för aktuell hållplats.
          
          Tunnelbana före övergång; 0
      stopPointNumber:
        type: integer
        format: int32
        example: 4310
        description: 
          Id för aktuellt stoppställe.
          
          Tunnelbana före övergång; 0
      stopPointDesignation:
        type: string
        description: Ytterligare identifierare för stoppställe, t.ex. bokstav för busskur eller spår för pendeltåg.
      timeTabledDateTime:
        type: string
        format: date-time
        example: 2016-12-11T15:22:31
        description: |
          Avgångstid enligt tidtabell.

          Tunnelbana före övergång; null
      expectedDateTime:
        type: string
        format: date-time
        example: 2016-12-11T15:22:31
        description: |
          Förväntad avgångstid. Om det finns tillhörande störning med tillräckligt hög prioritet så kan denna ha null/tomt värde. Detta fram till ett par minuter innan avgång.

          Tunnelbana före övergång; null
      displayTime:
        type: string
        example: 6 min
        description: |
          Avgångstid för presentation. Kan anta formaten x min, HH:mm eller Nu. Om det finns tillhörande störning med tillräckligt hög prioritet så kan denna ha värdet ”-”. Detta fram till ett par minuter innan avgång.

          Tunnelbana före övergång:Beräknad avgång från hållplatsen, t.ex. ”2 min” eller ”Nu”.
      journeyNumber:
        type: integer
        format: int32
        example: 106
        description: |
          Turnummer för avgången.

          Tunnelbana före övergång; 0.
      deviations:
        type: array
        items:
          $ref: '#/definitions/RealtidsinformationDeviation'
        description: |
          Innehåller typen ”Deviation” nedan. Denna kan vara tom, eller innehålla 1 till flera avvikelser.

          Tunnelbana före övergång; Saknas.
      secondaryDestinationName:
        type: string
        description: |
          Finns bara för:Pendeltåg.

          Namn på delmål
  RealtidsinformationStopPointDeviation:
    type: object
    properties:
      stopInfo:
        $ref: '#/definitions/RealtidsinformationStopInfo'
      deviation:
        $ref: '#/definitions/RealtidsinformationDeviation'
  RealtidsinformationDeviation:
    type: object
    properties:
      consequence:
        type: string
        example: INFORMATION
        description: Konsekvensbeskrivning för aktuell avvikelse.
      importanceLevel:
        type: integer
        format: int32
        example: 2    
        description: Signifikationsnivå för aktuell avvikelse. 0-9 där 9 är mest allvarlig.
      text:
        type: string
        example: Hållplats Norrmalmstorg tillfällig ändhållplats för spårvagnarna till och med 16 december
        description: Beskrivning av aktuell avvikelse.
  RealtidsinformationStopInfo:
    type: object
    properties:
      groupOfLine:
        type: string
        example: Tunnelbanans röda linje
        description: Om TransportMode är ”TRAM” så innehåller noden något av följande värden; ”Lidingöbanan”, ”Nockebybanan”, ”Roslagsbanan”, ”Saltsjöbanan”, ”Spårväg City”, ”Tvärbanan”. Annars blankt (kan komma att ändras).
      stopAreaName:
        type: string
        example: Danderyds sjukhus
        description: Namn på hållplatsen som avvikelsen gäller.
      stopAreaNumber:
        type: integer
        format: int32
        example: 0
        description: Id för hållplatsen som avvikelsen gäller. Är noll om TransportMode inte är BUS.
      transportMode:
        type: string
        example: METRO
        enum:
        - METRO
        - BUS
        - TRAIN
        - TRAM
        description: ”METRO”, ”BUS”, ”TRAIN”, ”TRAM” eller ospecificerat.
  StorningsinformationResponse:
    type: object
    properties:
      statusCode:
        type: integer
        format: int32
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 47
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/StorningsinformationDeviations'
  StorningsinformationDeviations:
    type: object
    properties:
      created:
        type: string
        format: date-time
        example: 2016-11-29T12:32:10.583+01:00
        description: När ärendet blev publicerad.
      mainNews:
        type: boolean
        example: false
        description: Boolean som indikerar om ärendet är en huvudnyhet.
      sortOrder:
        type: integer
        format: int32
        example: 1
        description: Förslag på sorteringsordning av ärendena.
      header:
        type: string
        example: Avstängda hissar vid Danderyds sjukhus
        description: Rubrik.
      details:
        type: string
        example: Vid Danderyds sjukhus är hissarna vid ingången närmast sjukhusets huvudentré avstängda för utbyte. Vi hänvisar till hissarna vid utgången mot bussterminalen. \nArbetet beräknas pågå till och med 16 december.
        description: Detaljer, samma som presenteras på webbplatsen för resp. ärende.
      scope:
        type: string
        example: Tunnelbanans röda linje 14
        description: Ett alias för ScopeElements.
      devCaseGid:
        type: integer
        format: int32
        example: 9076001010185233
        description: Ärendets id.
      devMessageVersionNumber:
        type: integer
        format: int32
        example: 1
        description: Anger aktuell version för ärendet.
      scopeElements:
        type: string
        example: Tunnelbanans röda linje 14
        description: Beskrivning av vilka linjer eller hållplatser ärendet gäller för.
      fromDateTime:
        type: string
        format: date-time
        example: 2016-11-29T12:31:00
        description: När ärendet börjar vara aktivt.
      upToDateTime:
        type: string
        format: date-time
        example: 2016-12-23T15:30:00
        description: När ärendet slutar att vara aktivt.
      updated:
        type: string
        format: date-time
        example: 2016-11-29T12:32:10.583+01:00
        description: Senast ärendet blev uppdaterat.
  StorningsinformationRawResponse:
    type: object
    properties:
      statusCode:
        type: integer
        format: int32
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 65
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/StorningsinformationRawDeviations'
  StorningsinformationRawDeviations:
    type: object
    properties:
      created:
        type: string
        format: date-time
        example: 2016-11-29T12:32:10.583+01:00
        description: När ärendet blev publicerad.
      mainNews:
        type: boolean
        example: false
        description: Boolean som indikerar om ärendet är en huvudnyhet.
      sortOrder:
        type: integer
        format: int32
        example: 1
        description: Förslag på sorteringsordning av ärendena.
      header:
        type: string
        description: Rubrik.
        example: Avstängda hissar vid Danderyds sjukhus
      details:
        type: string
        example: Vid Danderyds sjukhus är hissarna vid ingången närmast sjukhusets huvudentré avstängda för utbyte. Vi hänvisar till hissarna vid utgången mot bussterminalen. \nArbetet beräknas pågå till och med 16 december.
        description: Detaljer, samma som presenteras på webbplatsen för resp. ärende.
      scope:
        type: string
        example: Tunnelbanans röda linje 14
        description: Ett alias för ScopeElements.
      devCaseGid:
        type: integer
        format: int32
        example: 9076001010185233
        description: Ärendets id.
      devMessageVersionNumber:
        type: integer
        format: int32
        example: 1
        description: Anger aktuell version för ärendet.
      scopeElements:
        type: string
        example: Tunnelbanans röda linje 14
        description: Beskrivning av vilka linjer eller hållplatser ärendet gäller för.
      fromDateTime:
        type: string
        format: date-time
        example: 2016-11-29T12:31:00
        description: När ärendet börjar vara aktivt.
      upToDateTime:
        type: string
        format: date-time
        example: 2016-12-23T15:30:00
        description: När ärendet slutar att vara aktivt.
      updated:
        type: string
        format: date-time
        example: 2016-11-29T12:32:10.583+01:00
        description: Senast ärendet blev uppdaterat.
      priority:
        type: integer
        format: int32
        example: 35
        description: Prioriteringsordning för ärendet.
      lineNumber:
        type: string
        example: 14
        description: Linje där ärendet är gällande.
      siteId:
        type: string
        example: 9201
        description: Id för hållplatsområde. Kan vara tom.
      transportMode:
        type: string
        example: metro
        enum:
        - metro
        - bus
        - train
        - tram
        - ship
        description: Trafikslag för ärendet.
  TrafiklagetResponse:
    type: object
    properties:
      statusCode:
        type: integer
        format: int32
        example: 0
        description: Innehåller statuskod för det eventuella meddelandet.
      message:
        type: string
        description: Innehåller eventuellt anropsrelaterade meddelanden som t.ex. felmeddelanden. Se ”Felmeddelanden” nedan.
      executionTime:
        type: number
        format: double
        example: 41
        description: Anger hur lång tid (i ms) det tog för servern att generera svaret.
      responseData:
        type: array
        items:
          $ref: '#/definitions/TrafiklagetResponseData'
  TrafiklagetResponseData:
    type: object
    properties:
      trafficTypes:
        type: array
        items:
          $ref: '#/definitions/TrafiklagetTrafficType'
  TrafiklagetTrafficType:
    type: object
    properties:
      id:
        type: integer
        format: int32
        example: 2
        description: Id
      name:
        type: string
        example: Tunnelbana
        description: Namn på trafikslag; "Tunnelbana", "Pendeltåg", etc.
      type:
        type: string
        example: metro
        description: |
          "metro", "train", "local", "tram", "bus" eller "fer".

          fer = Båt

          local = Lokalbana

          tram = Spårvagn
        enum:
        - metro
        - train
        - local
        - tram
        - bus
        - fer
      statusIcon:
        type: string
        example: EventGood
        description: Hjälpinformation som indikerar vilken ikon som ska visas i webben.
      expanded:
        type: boolean
        example: true
        description: Hjälpinformation som indikerar om informationen har hög prioritet eller inte.
      hasPlannedEvent:
        type: boolean
        example: false
        description: Hjälpinformation som indikerar om det finns planerade händelser.
      events:
        type: array
        items:
          $ref: '#/definitions/TrafiklagetTrafficEvent'
        description: Ett TrafficEvent objekt för varje händelse.
  TrafiklagetTrafficEvent:
    type: object
    properties:
      eventId:
        type: integer
        format: int32
        example: 7281
        description: Löpnummer på händelsen.
      message:
        type: string
        example: Aktuella avgångar kan inte visas på stationernas skyltar pga. ett tekniskt fel. Tågen går enligt tidtabell för söndag.
        description: Meddelande gällande störningen/händelsen.
      expanded:
        type: boolean
        example: true
        description: Hjälpinformation som indikerar om informationen har hög prioritet eller inte.
      planned:
        type: boolean
        example: false
        description: Hjälpinformation som indikerar om händelsen är planerad eller inte.
      sortIndex:
        type: integer
        format: int32
        example: 3
        description: Sorteringsordning på händelsen.
      statusIcon:
        type: string
        example: EventGood
        description: Hjälpinformation som indikerar vilken ikon som ska visas i webben.
      lineNumbers:
        $ref: '#/definitions/TrafiklagetLineNumber'
      trafficLine:
        type: string
        example: Roslagsbanan
        description: Namn på den bana som händelsen påverkar. Kan saknas, om händelsen påverkar hela trafikslaget eller banor inte finns (typ bussar).
      eventInfoUrl:
        type: string
        description: Länk till storningsinformation.sl.se, eller till specifik sida med information om händelsen.
  TrafiklagetLineNumber:
    type: object
    properties:
      inputDataIsOptional:
        type: boolean
        example: true
        description: Är alltid satt till True och indikerar att linjenummer är frivilligt.
      text:
        type: string
        example: 27,28,29
        description: Text